#note-container {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
  }
  .red {
    background-color: indianred;
    color: #fff;
    cursor: pointer;
  }
  .green {
    background-color: forestgreen;
    color: #fff;
    cursor: pointer;
  }
  .center {
    margin-top: 15px;
    margin-right: 10px;
    text-align: center;
  }
  